.add-player {
  position: relative;
  &__text {
    line-height: 20px;
  }
  &__input {
    width: 100%;
    font-size: 18px;
    padding: 14px 12px;
    background: transparent;
    color: white;
  }
  &__input::placeholder {
    color: white;
  }
}