.button {
  border: 0;
  background: none;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  color: var(--color-white);
  font-size: 0.8em;
  padding: 2px;
}
.button-add {
  @extend .button;
  height: 40px;
}
.button-delete {
  @extend .button;
}
.button-to-tournament,
.button-update {
  @extend .button;
  width: initial;
  margin: 0 8px;
  &--selected {
    color: var(--color-red);
  }
}