.button {
  border: 0;
  background: none;
  font-weight: bold;
  cursor: pointer;
  color: var(--color-white);
  font-size: 0.8em;
  padding: 2px;
}
.button-add,
.button-update,
.button-delete,
.button-to-tournament {
  @extend .button;
}
.button-update,
.button-delete {
  margin: 10px;
}
.button-to-tournament {
  &--selected {
    color: var(--color-red);
  }
}
.button-all-to-tournament {
  @extend .button;
  border-radius: 20px;
  border: 2px solid;
  padding: 10px;
  font-size: 14px;
  color: #FF9800;
  letter-spacing: 1px;
  margin: 5px;
  transition: all 0.3s ease;
  &__icon {
    margin: 0 4px;
  }
  &:hover {
    background: #FF9800;
    color: var(--color-white);
  }
}