.input {
  padding: 15px 14px;
  margin-bottom: 12px;
}

.underline-input {
  position: relative;
  &__text {
    line-height: 20px;
  }
  &__input {
    width: 100%;
    font-size: 18px;
    padding: 9px 0;
    background: transparent;
    color: var(--color-yellow);
  }
  &__input::placeholder {
    color: var(--color-white);
  }
  &__underline {
    background: #788cf5;
    display: inline-block;
    height: 3px;
    left: 0;
    position: absolute;
    top: 33px;
    width: 100%;
  }
}