.menu {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  font-size: 1.7em;
  background: rgba(0, 0, 0, 0.8);

  &__link {
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    color: var(--color-white);
    text-transform: uppercase;
    letter-spacing: 2px;
    box-sizing: border-box;
    font-weight: bold;
    letter-spacing: 5px;
  }

  .router-link-exact-active {
    color: var(--color-green);
  }

  &__link:hover {
    color: var(--color-scarlet);
  }
}
