.menu {
  height: 100%;
  font-size: 1.2em;
  z-index: 1;
  &__link {
    text-align: center;
    margin: 0 30px;
    text-decoration: none;
    color: var(--color-white);
    letter-spacing: 2px;
    font-weight: bold;
    letter-spacing: 5px;
  }
  .router-link-exact-active {
    color: var(--color-green);
  }
  &__link:hover {
    color: var(--color-scarlet);
  }
  @media screen and (max-width: $laptop-width) {
    & {
      flex-direction: column;
    }
    &__link {
      margin-bottom: 10px;
    }
  }
}
