.statistics-table {
  justify-content: stretch;
  align-items: stretch;
}
.table {
  color: var(--color-white);
  background: var(--color-table);
  border-collapse: collapse;
  font-size: 1.8em;
  &__tr:nth-child(even) {
    background: var(--color-table-even-row);
  }
  &__th,
  &__td {
    text-align: center;
    padding: 18px 42px;
  }
  &__th {
    color: var(--color-green);
  }
  @media screen and (max-width: $laptop-width) {
    &__th,
    &__td {
      padding: initial;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}