// variables
:root {
  --color-white: #ffffff;
  --color-green: #8bc34a;
  --color-scarlet: #fd928a;
  --color-red: #ff4d40;
  --color-table: rgba(0, 0, 0, 0.8);
  --color-table-even-row: rgba(39, 44, 66, 0.9);
}
$laptop-width: 1024px;
// base styles
#app {
  background: url(../assets/bg.jpg) no-repeat;
  background-size: cover;
  .app__content {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    font-family: 'Alata', sans-serif;
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
  }
  @media screen and (max-width: $laptop-width) {
    .app__content {
      grid-template-rows: auto 1fr;
    }
  }
}
#app * {
  box-sizing: border-box;
}
.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%; 
  min-height: 100%;
  opacity: 0.5;
}
input, button {
  outline: 0;
  border: 0;
}
canvas {
  width: 100%;
  height: 100%;
}
// pages
.tournament,
.statistics,
.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
  color: var(--color-white);
  @media screen and (max-width: $laptop-width) {
    align-items: stretch;
  }
}
// components
.tournament-tree {
  width: 100%;
  height: 100%;
  &__nodes {
    position: relative;
    height: 100%;
  }
  &__node {
    padding: 10px;
    margin: 10px;
    background: rgba(43, 43, 43, 0.7);
    border: 3px dashed #cccccc;
    border-radius: 7px;
    position: absolute;
  }
}
.add-player {
  height: 40px;
  &__text {
    font-size: 2em;
  }
}
.loading-indicator {
  font-size: 5em;
  align-self: stretch;
  &__spinner {
    animation: rotating 2s linear infinite;
  }
}
@keyframes rotating {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
// rules
@import './rules';
// main elements
@import './buttons';
@import './menu';
@import './table';
@import './inputs';
@import './tooltip';