// variables
:root {
  --color-white: #ffffff;
  --color-green: #8bc34a;
  --color-scarlet: #fd928a;
  --color-red: #ff4d40;
  --color-yellow: #dccd49;
  --color-table: rgba(0, 0, 0, 0.8);
  --color-table-even-row: rgba(39, 44, 66, 0.9);
}
$laptop-width: 1024px;
// base styles
#app {
  background: url(../assets/bg.jpg) no-repeat;
  background-size: cover;
  min-height: 100vh;
  .app__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    font-family: 'Alata', sans-serif;
    padding: 20px;
    box-sizing: border-box;
  }
  @media screen and (max-width: $laptop-width) {
    .app__content {
      grid-template-rows: auto 1fr;
    }
  }
}
#app * {
  box-sizing: border-box;
}
.bg-video {
  position: fixed;
  opacity: 0.5;
}
input, button {
  outline: 0;
  border: 0;
}
canvas {
  width: 100%;
  height: 100%;
}
// rules
@import './rules';
// main elements
@import './buttons';
@import './menu';
@import './table';
@import './inputs';
@import './card';
@import './tooltip';
// components
@import './components';
// pages
@import './pages';